<html>
<title>Tateti TXC</title>
<body>
<br>Game Started!</br>

<form id="start_form" name="start_form" method="POST" action="/movement">
	<form id="start_form" name="start_form" method="POST" action="/movement">
	<div id="container">
    <div id="header">
		<input id="first_button_0_0" type="submit" value="{{value_0_0}}" name="first_button"/>
		<input id="first_button_0_1" type="submit" value="{{value_0_1}}" name="first_button"/>
		<input id="first_button_0_2" type="submit" value="{{value_0_2}}" name="first_button"/>
    </div>
    <div id="content">
		<input id="first_button_1_0" type="submit" value="{{value_1_0}}" name="first_button"/>
		<input id="first_button_1_1" type="submit" value="{{value_1_1}}" name="first_button"/>
		<input id="first_button_1_2" type="submit" value="{{value_1_2}}" name="first_button"/>
    </div>
    <div id="footer">
		<input id="first_button_2_0" type="submit" value="{{value_2_0}}" name="first_button"/>
		<input id="first_button_2_1" type="submit" value="{{value_2_1}}" name="first_button"/>
		<input id="first_button_2_2" type="submit" value="{{value_2_2}}" name="first_button"/>
    </div>
	</div>
<form>
</body>
</html>
